doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kitchen
  body
    .header-hero
      // HEADER
      header.header
        .header__container.container
          // LOGO
          a.header__logo.logo(href="index.html", aria-label="Home page")
            img.logo__img(src="imgs/logo.svg", alt="Brand logo", width="183", height="62")
          // SITENAV
          nav.header__sitenav.sitenav
            ul.sitenav__list(role="list")
              li.sitenav__item.sitenav__item--active(role="listitem")
                a.sitenav__link(href="#") Menu
              li.sitenav__item(role="listitem")
                a.sitenav__link(href="#") Delivery
              li.sitenav__item(role="listitem")
                a.sitenav__link(href="#") FAQ
              li.sitenav__item(role="listitem")
                a.sitenav__link(href="#") Contacts