// FOOTER
footer.footer
  .footer__container.container
    .footer__info
      a.footer__logo(href="index.html", aria-label="Home page")
        img(src="./imgs/footer-logo.svg", alt="Logo", width="183", height="61")
      .footer__social
        a.footer__link(href="#")
          img(src="./imgs/telegram.svg")
        a.footer__link(href="#")
          img(src="./imgs/instagram.svg")
        a.footer__link(href="#")
          img(src="./imgs/facebook.svg")
      p.copyright Chef Kitchen 2023